@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Montserrat:wght@400;700&family=Public+Sans:wght@300;400;700&display=swap');

// Primary
$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

// Neutral
$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: $Dark-Blue;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

section {
  padding: 13rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
