.header {
  background-color: $White;
  height: 10rem;
  position: relative;
  z-index: 10;

  &-content {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &-links {
    height: 100%;
    ul {
      display: flex;
      font-size: 1.6rem;
      color: $Grayish-Blue;
      height: 100%;

      li {
        justify-self: center;
        align-self: center;
        height: 100%;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        transition: color 0.2s ease-in;
      }

      li:hover {
        color: $Dark-Blue;
        cursor: pointer;
        background: linear-gradient(to right, $Lime-Green, $Bright-Cyan) left
          bottom rgb(255, 255, 255) no-repeat;
        background-size: 100% 5px;
      }
    }
  }
}
